asgiref==3.8.1
cffi==1.17.1
cryptography==42.0.5
Django==5.2.3
django-filter==24.1
djangorestframework==3.16.0
dotenv==0.9.9
mimesis==13.1.0
mysqlclient==2.2.7
packaging==25.0
pycparser==2.22
PyJWT==2.10.1
python-dateutil==2.9.0
python-dotenv==1.1.1
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
